<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCKMp6SEkqXRL528csU63knKKHXk4RIHzQ</string>
	<key>GCM_SENDER_ID</key>
	<string>170994721232</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>happy.mjstudio.bounceball</string>
	<key>PROJECT_ID</key>
	<string>bounce-ball-dc155</string>
	<key>STORAGE_BUCKET</key>
	<string>bounce-ball-dc155.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:170994721232:ios:e24c618c302986345859d5</string>
</dict>
</plist>